.cuenta-container {
    background-color: #ffffff;
    width: 75%;
    max-width: 900px;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 100, 0, 0.2);
}

.cuenta-container h1 {
    color: #2e7d32;
    text-align: center;
    margin-bottom: 5px;
}

.cuenta-container h2 {
    color: #388e3c;
    text-align: center;
    margin-top: 0;
}