.shop-layout {
    display: flex;
    padding: 30px;
    gap: 30px;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 100, 0, 0.2);
}

.sidebar h2 {
    color: #2e7d32;
    margin-bottom: 20px;
}

.sidebar label {
    display: block;
    margin-bottom: 15px;
    color: #33691e;
    cursor: pointer;
}

/* TIENDA */
.shop-section {
    flex: 1;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 12px 30px rgba(0, 100, 0, 0.25);
    text-align: center;
}

.shop-section h1 {
    color: #2e7d32;
}

.shop-intro {
    color: #4caf50;
    margin-bottom: 30px;
}

.products {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background-color: #f1f8e9;
    width: 250px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 100, 0, 0.15);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-6px);
}

.product-card img {
    width: 110px;
    margin-bottom: 15px;
}

.product-card h3 {
    color: #1b5e20;
}

.product-card p {
    color: #33691e;
}

.price {
    display: block;
    font-size: 1.4em;
    color: #2e7d32;
    font-weight: bold;
    margin: 15px 0;
}

.product-card button {
    background-color: #43a047;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
}
