.ods-container {
    background-color: #ffffff;
    width: 85%;
    max-width: 1000px;
    padding: 60px 50px;
    border-radius: 40px;
    box-shadow: 0 20px 40px rgba(0, 50, 0, 0.08);
    margin: 60px auto;

}

.ods-container h1 {
    color: #1b5e20;
    text-align: center;
    font-size:2.5rem;
    font-weight:800;
    margin-bottom: 10px;
}

.ods-container h2 {
    color:#66bb6a;
    text-align: center;
    font-size:1.4rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom:40px;
}

.intro {
    font-style: italic;
    color: #4caf50;
    text-align: center;
    margin-bottom:30px;
    display: block;
}

.ods-container p {
    color: #444;
    line-height: 1.8;
    margin-bottom:20px;
    font-size:1.05rem;
    text-align: justify;
}

.ods-container ul {
    list-style:none ;
    margin-top: 30px;
    padding:0;
}

.ods-container li {
    background-color:#f9fdf9;
    margin-bottom: 20px;
    color: #444;
    padding: 20px 25px;
    border-radius: 15px;
    border-left:5px solid #81c784;
    transition: all 0.3s ease;
}
.ods-container li:hover {
    transform:translateX(10px);
    background-color: #f1f8e9;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.05);
}

.ods-container li strong {
    color: #1b5e20;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 8px;
    letter-spacing:-0.5px;
    font-weight:800;
}

.conclusion {
    margin-top: 50px;
    padding: 40px;
    background-color: #f1f8e9;
    border-left: none;
    border-radius: 30px;
    border: 1px dashed #a5d6a7;
}

.conclusion h3 {
    margin-top: 0;
    color: #1b5e20;
    font-size: 1.6rem;
    font-weight: 800;
    margin-top:0;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display:flex;
    align-items: center;
}
